<app-header></app-header>

<div class="cont">
<div class="main-container" *ngFor="let item of products">
<div class="image-cont">
    <img src="{{item.image}}">
</div>
<div class="details-cont">
    <h1>{{item.name}}</h1>
    <h3>₹ {{item.price}}</h3>
    <p>{{item.description}}</p>
    <div class="button-cont">
    <button  class="btn btn-primary w-100 add" *ngIf="checkInCart(item)=== false" (click)="addTocart(item)" >Add To Cart</button>
    <button  class="btn btn-primary w-100 added" *ngIf="checkInCart(item)=== true">Added To Cart</button>
    </div>
</div>
</div>
</div>