
.main-container{
    display: flex;
    align-items: center;
    background-color: white;

}
.details-cont{
    width:30%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-evenly;
    height:60vh;

}
.image-cont{
    width:50%;
    height:70vh;
    

}
.image-cont img{
height:100%;
}

.cont{
    background-color: #ccc;
    padding: 60px;
    height: 100vh;
}
