<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  


<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<app-header></app-header>
<div class="home">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="assets/imga3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/imga4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/imga5.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  
  
  <br><br>
  <h3 class="text-center">New Arrivals</h3>
  <h6 class="text-center">Just in now</h6>
  <br>
  <br>
  <div class="d-flex  justify-content-center align-items-center" >
  <table>
    
    <tr>
      <td>
  
        <div class="card img-container" style="width: 18rem;"   >
         
          <img src="assets/imga6.jpg" class="card-img-top image"  alt="...">
          
          <div class="overlay" >
            <div class="text">Women</div>
          </div>
        </div>
  
      </td>
      <td>
        <div class="card img-container" style="width: 18rem;" >
         
          <img src="assets/imga9.jpeg"  class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Men</div>
          </div>
        </div>
      </td>
      <td>
        <div class="card img-container" style="width: 18rem; height:429px;" >
         
          <img src="assets/children.webp"  style="width: 18rem; height:429px;" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Children</div>
          </div>
        </div>
      </td>
      <td>
  
        <div class="card img-container"  style="width: 18rem; height:429px;" >
         
          <img src="assets/bags.webp"  style="width: 18rem; height:429px;" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Accessories</div>
          </div>
        </div>
  
      </td>
    </tr>
  </table>
  
  </div>
  
  <br>
  <br>
  
  <h3 class="text-center">Categories.</h3>
  <h5 class="text-center">Just for you</h5><br>
  <div class="cat d-flex justify-content-evenly">
    
    <div><img src="assets/imga7.jpg" ><br><br><p class="text-center">Women</p></div>
    <div><img src="assets/imga8.jpg" ><br><br><p class="text-center">Men</p></div>
    <div><img src="assets/child.jpeg" ><br><br><p class="text-center">Children</p></div>
    <div><img src="assets/sunglasses.webp" ><br><br><p class="text-center">Accessories</p></div>
  </div>
  
  <br>
  <br>
  
  <h2 class="text-center">Latest Trends</h2>
  <table>
    <tr>
      <td>
        <div class="jumbotron jumbotron-fluid jumb" >
          <div class="container">
            <h1 class="display-7">Pharrell at Vuitton:  </h1>
            <h3>Has fashion gone full hype?</h3>
            <p class="lead">
              Many are excited about Pharrell Williams’s appointment as men’s creative director at Louis Vuitton. Others see it as a signifier that fashion is favouring marketing, reach and hype over championing the next generation of talent.</p>
          </div>
        </div>
      </td>
  
      <td>
        <div class="jumbotron jumbotron-fluid jumb" style="background-color:black;color: white;"  >
          <div class="container">
            <h1 class="display-7">London Fashion Week: </h1>
            <h3>Is the cost-of-living crisis fuelling creativity?</h3>
            <p class="lead">It's something those in the world of fashion have to be aware of as people cut back.But that doesn't mean it's a bad time for the industry, it just means getting creative.</p>
          </div>
        </div>
      </td>
    </tr>
  </table>
  
  <br><br>
  
  <h2 class="text-center">Hot Deals</h2>
  <h6 class="text-center">Only This Season</h6>
  
  <table>
    
    <tr>
      <td>
  
        <div class="card img-container" style="width: 18rem;">
         
          <img src="assets/skirt.jpeg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Cotton Skirts</div>
          </div>
        </div>
  
      </td>
      <td>
        <div class="card img-container" style="width: 18rem;">
         
          <img src="assets/shirt.png" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Organic Cotton Shirts</div>
          </div>
        </div>
      </td>
      <td>
        <div class="card img-container" style="width: 18rem;">
         
          <img src="assets/printfrock.jpeg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Printed Frocks</div>
          </div>
        </div>
      </td>
      <td>
  
        <div class="card img-container" style="width: 18rem;">
         
          <img src="assets/crocs.jpeg" class="card-img-top image" alt="...">
          
          <div class="overlay">
            <div class="text">Crocs</div>
          </div>
        </div>
  
      </td>
    </tr>
  </table>
  <br><br>
  
  <!-- <div class="jumbotron jumbotron-fluid" style="background-color:#ccc;color: white;width: 100%;height: 200px;padding-top: 50px;">
    <div class="container">
      <h1 class="display-7">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div> -->
  </div>
  
  <br><br>



<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact Us</h2>
      <p>ShopDrop store is available at Sharan Hermitage</p>
    </div>
  </div>

  <div>
    <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.8239265659527!2d73.89446131489294!3d18.536857187399505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c106e94b6cf9%3A0x49b69079d10e9022!2sSharan%20Hermitage!5e0!3m2!1sen!2sin!4v1676741179076!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container">

    <div class="row mt-5">

      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="ri-map-pin-line"></i>
            <h4>Location:</h4>
            <p>Sharan Hermitage, Lane 5, Koregaon Park, Pune</p>
          </div>

          <div class="email">
            <i class="ri-mail-line"></i>
            <h4>Email:</h4>
            <p>shopdrop@gmail.com</p>
          </div>

          <div class="phone">
            <i class="ri-phone-line"></i>
            <h4>Call:</h4>
            <p>987654321</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">

        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->





  <footer id="footer">
    <div class="container">
      <h3 class="footerheading">ShopDrop</h3>
      <p>Our Social Media Handles</p>
      <div class="social-links">
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-google-plus"></a>
        <a href="#" class="fa fa-linkedin"></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>ShopDrop</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by PHP TEAM
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- <footer class="text-center"><p>CopyRights@2023</p></footer> -->